@media(max-width:760px) {
    header .logo{
        width: 250px;
        margin: auto;
    }

    main {
        display: block;
        margin-top: 20px;
    }

    main img.mockup {
        width: 700px;
    }

    main .info {
        margin: auto;
        margin-top: 40px;
        align-items: center;
        text-align: center;
        gap: 20px;
        font-size: 15px;
    }

    .info a{
        margin-top: 15px;
    }

    footer{
        margin: 30px;
    }
}

@media(max-width:360px){
    header .logo{
        width: 250px;
    }

    main img.mockup{
        width: 300px;
    }

    main .info{
        margin-right: 25px;
        font-size: 13px;
    }

    .info a{
        margin-top: 10px;
    }
}